/*
* Author: Alex Thomas
* Assignment: WE4.0 PHP Web App Assignment, Digital Skills Academy
* Student ID: D15126833
* Date : 2016/04/26
* Ref: http://stackoverflow.com/questions/2920306/google-chrome-form-autofill-and-its-yellow-background
         http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
*/
/*
Im using the BEM naming convention for my classes.

include font provided by designer, Could not find it on google fonts
 I got GosmickSansBold.ttf from designer then generated the apropriate fonts with https://www.fontsquirrel.com/tools/webfont-generator
this makes the font cross browser functional
 */
 @font-face {
     font-family: 'gosmicksansbold';
     src: url('../fonts/gosmicksansbold-webfont.eot');
     src: url('../fonts/gosmicksansbold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/gosmicksansbold-webfont.woff2') format('woff2'),
          url('../fonts/gosmicksansbold-webfont.woff') format('woff'),
          url('../fonts/gosmicksansbold-webfont.ttf') format('truetype'),
          url('../fonts/gosmicksansbold-webfont.svg#gosmicksansbold') format('svg');
     font-weight: normal;
     font-style: normal;
 }

h1 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

/* as specified by the designer all the page text is using this color & font except some specific submit buttons*/
.muncher-text {
   color: rgb(249, 80, 6);
   font-family: "gosmicksansbold";
}



/* MARK: banner */
.banner {
    position:relative;
}

.banner__background {
    width:100%;
}

.banner__logo {
    /* logo absolute so that it stacks ontop of the background , container div is relative*/
    position:absolute;
    height:60%;
    top:20%;
}

.logoutForm {
    position:absolute;
    right:50px;
    height:30%;
    top:30%;
}

.logoutForm__submit {
    height:50px;
    width:50px;
    border-radius: 25px;
    background-color: rgb(249, 80, 6);
    border: 2px solid rgb(219, 60, 0);
}
/* MARK: Nav Bar */
.navbar {
    /* making nav look like what was specified */
    padding-top: 10px;
    background-color: white;
    border: none;
    font-size:1.2em;
}

.navbar-default .navbar-nav>li> a {
    color: rgb(249, 80, 6);
    padding: 4px;
    margin-right: 25px;
}

/*  looking at the design , the nav is not inline with the rightside of the content , adding a little margin to the last <li> to incoporate this in the build */
.navbar-default .navbar-nav>li:last-child> a {
    margin-right: 35px;
}

/* as per the designer direction , the following selectors make the nav have that orange background with green text
I have a bunch of selectors to fix a few issues i came across when they were active or not or in focus etc*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover ,
.navbar-default .navbar-nav>li> a:hover ,
.navbar-default .navbar-nav>li> a:focus:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgb(92, 249, 48);
    background-color: rgb(249, 80, 6);
}

.navbar-default .navbar-nav>li> a:focus {
    color: inherit;
    background-color: inherit;
    /* need to remove that blue outline after somebody presses the modal contact form */
    outline:none;
}

/* MARK: .btn--muncher */
.btn--muncher {
    color:rgb(249, 80, 6);
    margin-left: 10px;
    margin-right: 3px;
    border: 3px solid rgb(249, 80, 6);
    box-shadow: -3px 3px 0 0 rgb(249, 80, 6);
    background-color: rgb(92, 249, 48);
    vertical-align: middle;
    -webkit-transition: opacity ease-in-out .45s;
    transition: opacity ease-in-out .45s;
}

.btn--muncher:hover {
    color: rgb(239, 50, 6);
    background-color: rgb(62, 219, 28);
    outline: none;
}

.btn--muncher:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.btn--lg {
    padding: 5px 7px 3px;
    font-size:1.35em;
    line-height: 1.6em;
}

/* MARK: input--muncher */
.input--muncher {
    background-color: rgb(171, 179, 216);
    color: white ;
    border: 3px solid rgb(249, 80, 6);
    -webkit-transition: opacity ease-in-out .45s , border-color ease-in-out .60s , box-shadow ease-in-out .60s;
    transition: opacity ease-in-out .45s , border-color ease-in-out .60s , box-shadow ease-in-out .60s;
    padding-left:6px;
}
/*
For changing the placeholder color i searched google and found this
REF: http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
that stackoverflow answer stated that you need seperate selector for each browser type else some browsers ignore them all
*/
.input--muncher::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    opacity:  0.7;
}
.input--muncher:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity:  0.7;
}
.input--muncher::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity:  0.7;
}
.input--muncher:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity:  0.7;
}
.input--muncher:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.input--lg {
    padding: 5px 7px 3px;
    font-size:1.35em;
    line-height: 1.6em;
}

/* using !important to override some of the bootstrap stuff also in the case of valid & invalid its necesary for it to always display like this no matter what style are applied to that element*/
.input--valid {
    border-color: rgb(62, 209, 28) !important;
    box-shadow: 0 1px 1px rgba(62, 209, 28, 0.075) inset, 0 0 8px rgba(62, 209, 28, 0.3) !important;
    outline: 0 none !important;
}

.input--invalid {
    border-color: rgb(255, 0, 0);
    border-color: rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.3) !important;
    outline: 0 none !important;
}

/* little hack I found to stop chrome from changing things when the user uses auto fill, it was being a real pain
http://stackoverflow.com/questions/2920306/google-chrome-form-autofill-and-its-yellow-background
*/
.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.form-control:disabled:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eee inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:disabled{
    -webkit-transition-delay: 9999s ;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

/*MARK:  error message & success-message  */
.error-message {
   color: red;
}

.success-message {
   color: rgb(62, 209, 28);
}

/*MARK: footer */
.footer {
    margin-top:10px;
    padding-top: 15px;
    padding-bottom: 2px;
    color:white;
    background-color: rgb(129, 152, 234);
}

.footer__p {
    font-size: 0.8em;
    margin: 0;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 85px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add trasnparent border */
    border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: rgb(249, 80, 6);
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid rgb(249, 80, 6);
}

/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    /*display: none;*/
    max-height: 0;
	overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: max-height 1.5s, visibility 0.75s, opacity 0.3s ease-out;
    transition: max-height 1.5s, visibility 0.75s, opacity 0.3s ease-out;
}

/* show active nested list */
.bs-docs-sidebar .nav:hover ul.nav,
.bs-docs-sidebar .nav>.active>ul.nav {
    /*display: block;*/
    max-height:200px;
    visibility: visible;
    opacity: 1;
}

#sidebar.affix {
    top: 30px;
}
